{{page-title "FwTask"}}

  <main class="homepage">
  <nav class="navbar-header" class="navconatiner" >
  <img src="/images/logo.png" alt="" class="navlogo">
     <a href="create" >Create an Instance</a>
     <a href="delete" >Delete an Instance</a>
     <a href="instances">Fetch Instances</a> 
     <a href="search" >Search an Instance</a>
     <a href="update" >Update an Instance</a>
     <a href="use" >Use an Instance</a>
   </nav> 
   <div>
       <center class="maincontent">
          <img src="/images/mainbackground.jpeg" alt="" width="90%" height="10%">
          <h1>Welcome to Freshworks Instances page</h1>
       </center>
   </div>
  </main>
{{outlet}}