{{page-title "Instances"}}

 <center> 
   <div class="createpage" id ="content">
       <h2>List of all the Instances ID's and Names: </h2>
       <br>
       {{#each this.model as |instance|}}
            <h5>  &nbsp; &nbsp; &nbsp;<span style="color: rgb(79, 160, 197);">InstanceID:</span> {{instance.id}}, &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
                 <span style="color: rgb(79, 160, 197);">Name:</span>{{instance.name}} &nbsp; &nbsp; &nbsp;
            </h5>
       {{/each}}
    </div>
  </center> 
{{outlet}}